<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CrearUsuario</servlet-name>
        <servlet-class>Servlet.CrearUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutenticarCliente</servlet-name>
        <servlet-class>Servlet.AutenticarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutenticarAdmin</servlet-name>
        <servlet-class>Servlet.AutenticarAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearProducto</servlet-name>
        <servlet-class>Servlet.CrearProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearProveedor</servlet-name>
        <servlet-class>Servlet.CrearProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCompra</servlet-name>
        <servlet-class>Servlet.CrearCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Facturacion</servlet-name>
        <servlet-class>Servlet.Facturacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagarFactura</servlet-name>
        <servlet-class>Servlet.PagarFactura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProducto</servlet-name>
        <servlet-class>Servlet.ModificarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregaCarrito</servlet-name>
        <servlet-class>Servlet.AgregaCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCarrito</servlet-name>
        <servlet-class>Servlet.EliminarCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearVenta</servlet-name>
        <servlet-class>Servlet.CrearVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagarVenta</servlet-name>
        <servlet-class>Servlet.PagarVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProducto</servlet-name>
        <servlet-class>Servlet.EliminarProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearUsuario</servlet-name>
        <url-pattern>/cliente/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutenticarCliente</servlet-name>
        <url-pattern>/cliente/AutenticarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutenticarAdmin</servlet-name>
        <url-pattern>/administracion/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearProducto</servlet-name>
        <url-pattern>/administracion/CrearProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearProveedor</servlet-name>
        <url-pattern>/administracion/CrearProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCompra</servlet-name>
        <url-pattern>/administracion/CrearCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Facturacion</servlet-name>
        <url-pattern>/administracion/Facturacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagarFactura</servlet-name>
        <url-pattern>/administracion/PagarFactura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/administracion/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProducto</servlet-name>
        <url-pattern>/administracion/ModificarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregaCarrito</servlet-name>
        <url-pattern>/cliente/AgregaCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCarrito</servlet-name>
        <url-pattern>/cliente/EliminarCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearVenta</servlet-name>
        <url-pattern>/cliente/CrearVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagarVenta</servlet-name>
        <url-pattern>/cliente/PagarVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProducto</servlet-name>
        <url-pattern>/administracion/EliminarProducto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
